USE [master]
GO
/****** Object:  Database [ConferentionOrganisationDB]    Script Date: 27.09.2024 14:32:20 ******/
CREATE DATABASE [ConferentionOrganisationDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ConferentionOrganisationDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ConferentionOrganisationDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ConferentionOrganisationDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ConferentionOrganisationDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ConferentionOrganisationDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ConferentionOrganisationDB]
GO
/****** Object:  Table [dbo].[Activity]    Script Date: 27.09.2024 14:32:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Activity](
	[Activity_Id] [int] IDENTITY(1,1) NOT NULL,
	[Activity_Name] [nvarchar](80) NOT NULL,
 CONSTRAINT [PK_Activity] PRIMARY KEY CLUSTERED 
(
	[Activity_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[City]    Script Date: 27.09.2024 14:32:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[City_Id] [int] IDENTITY(1,1) NOT NULL,
	[City_Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[City_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 27.09.2024 14:32:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[Country_Id] [int] NOT NULL,
	[County_Name] [nvarchar](150) NOT NULL,
	[Country_English_Name] [varchar](150) NOT NULL,
	[Country_Letter_Code] [varchar](5) NOT NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[Country_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Directions]    Script Date: 27.09.2024 14:32:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Directions](
	[Directions_Id] [int] IDENTITY(1,1) NOT NULL,
	[Directions_Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Directions] PRIMARY KEY CLUSTERED 
(
	[Directions_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Event]    Script Date: 27.09.2024 14:32:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Event](
	[Event_Id] [int] IDENTITY(1,1) NOT NULL,
	[Event_Name] [nvarchar](150) NOT NULL,
	[Event_Date] [date] NOT NULL,
	[Event_Duration_Days] [int] NOT NULL,
	[Event_City_Id] [int] NOT NULL,
 CONSTRAINT [PK_Event] PRIMARY KEY CLUSTERED 
(
	[Event_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Event_Chains]    Script Date: 27.09.2024 14:32:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Event_Chains](
	[Event_Chains_Id] [int] IDENTITY(1,1) NOT NULL,
	[Event_Chains_Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Event_Chains] PRIMARY KEY CLUSTERED 
(
	[Event_Chains_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Result]    Script Date: 27.09.2024 14:32:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Result](
	[Result_Id] [int] IDENTITY(1,1) NOT NULL,
	[Result_Event_Id] [int] NOT NULL,
	[Result_Activity_Id] [int] NOT NULL,
	[Result_Days] [int] NOT NULL,
	[Result_Start_Time] [time](0) NOT NULL,
	[Result_Moderator_Id] [int] NOT NULL,
	[Result_Jury1_Id] [int] NULL,
	[Result_Jury2_Id] [int] NULL,
	[Result_Jury3_Id] [int] NULL,
	[Result_Jury4_Id] [int] NULL,
	[Result_Jury5_Id] [int] NULL,
	[Result_Winner_Id] [int] NOT NULL,
 CONSTRAINT [PK_Result] PRIMARY KEY CLUSTERED 
(
	[Result_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 27.09.2024 14:32:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Roles_Id] [int] IDENTITY(1,1) NOT NULL,
	[Roles_Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Roles_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sexes]    Script Date: 27.09.2024 14:32:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sexes](
	[Sexes_Id] [int] IDENTITY(1,1) NOT NULL,
	[Sexes_Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Sexes] PRIMARY KEY CLUSTERED 
(
	[Sexes_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 27.09.2024 14:32:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[User_Id] [int] IDENTITY(1,1) NOT NULL,
	[User_Surname] [nvarchar](50) NULL,
	[User_Name] [nvarchar](50) NULL,
	[User_Patronym] [nvarchar](50) NULL,
	[User_Email] [nvarchar](150) NOT NULL,
	[User_Birthday] [date] NOT NULL,
	[User_Country_Id] [int] NULL,
	[User_Phone] [nvarchar](25) NOT NULL,
	[User_Password] [varchar](50) NOT NULL,
	[User_Photo_Name] [nvarchar](50) NOT NULL,
	[User_Sex_Id] [int] NULL,
	[User_Role_Id] [int] NOT NULL,
	[User_Direction_Id] [int] NULL,
	[User_Event_Chain_Id] [int] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[User_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Activity] ON 

INSERT [dbo].[Activity] ([Activity_Id], [Activity_Name]) VALUES (1, N'Must Have 21 века')
INSERT [dbo].[Activity] ([Activity_Id], [Activity_Name]) VALUES (2, N'Soft skills')
INSERT [dbo].[Activity] ([Activity_Id], [Activity_Name]) VALUES (3, N'Авторские анонсы')
SET IDENTITY_INSERT [dbo].[Activity] OFF
GO
SET IDENTITY_INSERT [dbo].[City] ON 

INSERT [dbo].[City] ([City_Id], [City_Name]) VALUES (1, N'Абаза')
INSERT [dbo].[City] ([City_Id], [City_Name]) VALUES (2, N'Абакан')
INSERT [dbo].[City] ([City_Id], [City_Name]) VALUES (3, N'Абдулино')
GO
SET IDENTITY_INSERT [dbo].[City] OFF
GO
INSERT [dbo].[Country] ([Country_Id], [County_Name], [Country_English_Name], [Country_Letter_Code]) VALUES (4, N'Афганистан', N'Afghanistan', N'AF')
INSERT [dbo].[Country] ([Country_Id], [County_Name], [Country_English_Name], [Country_Letter_Code]) VALUES (8, N'Албания', N'Albania', N'AL')
INSERT [dbo].[Country] ([Country_Id], [County_Name], [Country_English_Name], [Country_Letter_Code]) VALUES (10, N'Антарктида', N'Antarctica', N'AQ')
GO
SET IDENTITY_INSERT [dbo].[Directions] ON 

INSERT [dbo].[Directions] ([Directions_Id], [Directions_Name]) VALUES (1, N'Аналитика')
INSERT [dbo].[Directions] ([Directions_Id], [Directions_Name]) VALUES (2, N'Биг Дата')
INSERT [dbo].[Directions] ([Directions_Id], [Directions_Name]) VALUES (3, N'Дизайн')
SET IDENTITY_INSERT [dbo].[Directions] OFF
GO
SET IDENTITY_INSERT [dbo].[Event] ON 

INSERT [dbo].[Event] ([Event_Id], [Event_Name], [Event_Date], [Event_Duration_Days], [Event_City_Id]) VALUES (1, N'Анализ предметных областей и проектирование сценариев использования ', CAST(N'2022-03-23' AS Date), 2, 1)
INSERT [dbo].[Event] ([Event_Id], [Event_Name], [Event_Date], [Event_Duration_Days], [Event_City_Id]) VALUES (2, N'Анализ предметных областей и проектирование сценариев использования. Часть 1 ', CAST(N'2022-03-30' AS Date), 2, 3)
INSERT [dbo].[Event] ([Event_Id], [Event_Name], [Event_Date], [Event_Duration_Days], [Event_City_Id]) VALUES (3, N'Андрей Ершов — CRDT. Бесконфликтная синхронизация данных ', CAST(N'2022-02-28' AS Date), 3, 4)
SET IDENTITY_INSERT [dbo].[Event] OFF
GO
SET IDENTITY_INSERT [dbo].[Event_Chains] ON 

INSERT [dbo].[Event_Chains] ([Event_Chains_Id], [Event_Chains_Name]) VALUES (1, N'IT в бизнесе')
INSERT [dbo].[Event_Chains] ([Event_Chains_Id], [Event_Chains_Name]) VALUES (2, N'IT-инфраструктура')
INSERT [dbo].[Event_Chains] ([Event_Chains_Id], [Event_Chains_Name]) VALUES (3, N'Информационная безопасность')
SET IDENTITY_INSERT [dbo].[Event_Chains] OFF
GO
SET IDENTITY_INSERT [dbo].[Result] ON 

INSERT [dbo].[Result] ([Result_Id], [Result_Event_Id], [Result_Activity_Id], [Result_Days], [Result_Start_Time], [Result_Moderator_Id], [Result_Jury1_Id], [Result_Jury2_Id], [Result_Jury3_Id], [Result_Jury4_Id], [Result_Jury5_Id], [Result_Winner_Id]) VALUES (1, 1, 27, 1, CAST(N'09:00:00' AS Time), 31, 50, 9, 50, 18, 50, 1)
INSERT [dbo].[Result] ([Result_Id], [Result_Event_Id], [Result_Activity_Id], [Result_Days], [Result_Start_Time], [Result_Moderator_Id], [Result_Jury1_Id], [Result_Jury2_Id], [Result_Jury3_Id], [Result_Jury4_Id], [Result_Jury5_Id], [Result_Winner_Id]) VALUES (2, 1, 4, 2, CAST(N'10:45:00' AS Time), 32, 20, 18, 27, 45, 20, 1)
INSERT [dbo].[Result] ([Result_Id], [Result_Event_Id], [Result_Activity_Id], [Result_Days], [Result_Start_Time], [Result_Moderator_Id], [Result_Jury1_Id], [Result_Jury2_Id], [Result_Jury3_Id], [Result_Jury4_Id], [Result_Jury5_Id], [Result_Winner_Id]) VALUES (3, 1, 26, 2, CAST(N'12:30:00' AS Time), 33, 41, 45, 39, 50, 41, 1)
SET IDENTITY_INSERT [dbo].[Result] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Roles_Id], [Roles_Name]) VALUES (1, N'Жюри')
INSERT [dbo].[Roles] ([Roles_Id], [Roles_Name]) VALUES (2, N'Модератор')
INSERT [dbo].[Roles] ([Roles_Id], [Roles_Name]) VALUES (3, N'Организатор')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Sexes] ON 

INSERT [dbo].[Sexes] ([Sexes_Id], [Sexes_Name]) VALUES (1, N'Женский')
INSERT [dbo].[Sexes] ([Sexes_Id], [Sexes_Name]) VALUES (2, N'Мужской')
SET IDENTITY_INSERT [dbo].[Sexes] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([User_Id], [User_Surname], [User_Name], [User_Patronym], [User_Email], [User_Birthday], [User_Country_Id], [User_Phone], [User_Password], [User_Photo_Name], [User_Sex_Id], [User_Role_Id], [User_Direction_Id], [User_Event_Chain_Id]) VALUES (1, N'Бобров', N'Терентий', N'Созонович', N'bowmanbs@mac.com', CAST(N'1976-07-02' AS Date), NULL, N'7(953)595-88-17', N't1Os4A', N'foto40.jpg', 2, 4, NULL, NULL)
INSERT [dbo].[Users] ([User_Id], [User_Surname], [User_Name], [User_Patronym], [User_Email], [User_Birthday], [User_Country_Id], [User_Phone], [User_Password], [User_Photo_Name], [User_Sex_Id], [User_Role_Id], [User_Direction_Id], [User_Event_Chain_Id]) VALUES (2, N'Орехова', N'Николь', N'Дмитриевна', N'catalog@aol.com', CAST(N'1977-06-28' AS Date), 86, N'7(927)353-20-17', N'wOMJfO$*00', N'foto41.jpg', 1, 4, NULL, NULL)
INSERT [dbo].[Users] ([User_Id], [User_Surname], [User_Name], [User_Patronym], [User_Email], [User_Birthday], [User_Country_Id], [User_Phone], [User_Password], [User_Photo_Name], [User_Sex_Id], [User_Role_Id], [User_Direction_Id], [User_Event_Chain_Id]) VALUES (3, N'Бурова', N'Анэля', N'Пётровна', N'privcan@hotmail.com', CAST(N'1977-11-22' AS Date), NULL, N'7(964)282-55-34', N'kymPeI&&%78', N'foto42.jpg', 1, 4, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD  CONSTRAINT [FK_Event_City] FOREIGN KEY([Event_City_Id])
REFERENCES [dbo].[City] ([City_Id])
GO
ALTER TABLE [dbo].[Event] CHECK CONSTRAINT [FK_Event_City]
GO
ALTER TABLE [dbo].[Result]  WITH CHECK ADD  CONSTRAINT [FK_Result_Activity] FOREIGN KEY([Result_Activity_Id])
REFERENCES [dbo].[Activity] ([Activity_Id])
GO
ALTER TABLE [dbo].[Result] CHECK CONSTRAINT [FK_Result_Activity]
GO
ALTER TABLE [dbo].[Result]  WITH CHECK ADD  CONSTRAINT [FK_Result_Event] FOREIGN KEY([Result_Event_Id])
REFERENCES [dbo].[Event] ([Event_Id])
GO
ALTER TABLE [dbo].[Result] CHECK CONSTRAINT [FK_Result_Event]
GO
ALTER TABLE [dbo].[Result]  WITH CHECK ADD  CONSTRAINT [FK_Result_Users] FOREIGN KEY([Result_Moderator_Id])
REFERENCES [dbo].[Users] ([User_Id])
GO
ALTER TABLE [dbo].[Result] CHECK CONSTRAINT [FK_Result_Users]
GO
ALTER TABLE [dbo].[Result]  WITH CHECK ADD  CONSTRAINT [FK_Result_Users1] FOREIGN KEY([Result_Jury1_Id])
REFERENCES [dbo].[Users] ([User_Id])
GO
ALTER TABLE [dbo].[Result] CHECK CONSTRAINT [FK_Result_Users1]
GO
ALTER TABLE [dbo].[Result]  WITH CHECK ADD  CONSTRAINT [FK_Result_Users2] FOREIGN KEY([Result_Jury2_Id])
REFERENCES [dbo].[Users] ([User_Id])
GO
ALTER TABLE [dbo].[Result] CHECK CONSTRAINT [FK_Result_Users2]
GO
ALTER TABLE [dbo].[Result]  WITH CHECK ADD  CONSTRAINT [FK_Result_Users3] FOREIGN KEY([Result_Jury3_Id])
REFERENCES [dbo].[Users] ([User_Id])
GO
ALTER TABLE [dbo].[Result] CHECK CONSTRAINT [FK_Result_Users3]
GO
ALTER TABLE [dbo].[Result]  WITH CHECK ADD  CONSTRAINT [FK_Result_Users4] FOREIGN KEY([Result_Jury4_Id])
REFERENCES [dbo].[Users] ([User_Id])
GO
ALTER TABLE [dbo].[Result] CHECK CONSTRAINT [FK_Result_Users4]
GO
ALTER TABLE [dbo].[Result]  WITH CHECK ADD  CONSTRAINT [FK_Result_Users5] FOREIGN KEY([Result_Jury5_Id])
REFERENCES [dbo].[Users] ([User_Id])
GO
ALTER TABLE [dbo].[Result] CHECK CONSTRAINT [FK_Result_Users5]
GO
ALTER TABLE [dbo].[Result]  WITH CHECK ADD  CONSTRAINT [FK_Result_Users6] FOREIGN KEY([Result_Winner_Id])
REFERENCES [dbo].[Users] ([User_Id])
GO
ALTER TABLE [dbo].[Result] CHECK CONSTRAINT [FK_Result_Users6]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Country] FOREIGN KEY([User_Country_Id])
REFERENCES [dbo].[Country] ([Country_Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Country]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Directions] FOREIGN KEY([User_Direction_Id])
REFERENCES [dbo].[Directions] ([Directions_Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Directions]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Event_Chains] FOREIGN KEY([User_Event_Chain_Id])
REFERENCES [dbo].[Event_Chains] ([Event_Chains_Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Event_Chains]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([User_Role_Id])
REFERENCES [dbo].[Roles] ([Roles_Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Sexes] FOREIGN KEY([User_Sex_Id])
REFERENCES [dbo].[Sexes] ([Sexes_Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Sexes]
GO
USE [master]
GO
